@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

/* ROOT FIX */
#root {
  min-height: 100vh;
}

/* BODY */
body {
  background: rgb(31, 41, 55);
}

/* NAVBAR */
.nav {
  z-index: 50;
}

/* LINK UNDERLINE ANIMATION */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #fff);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* MOBILE FIXES */
@media screen and (max-width: 900px) {
  .home,
  .about,
  .portfolio,
  .experience,
  .contact {
    text-align: center;
    height: auto;
  }

  .home img {
    margin-top: 25%;
  }

  .home h2 {
    font-size: 2.7rem;
    line-height: 3rem;
    margin-top: 7%;
  }

  .px-12 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
